/* Remove all extra spaces */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/* Global Font */
body{
    font-family:Arial, sans-serif;
    background:#f5f7fa;
    color:#222;
}
/* Global link line removal */
a{
    text-decoration:none;
}

ul{
    list-style:none;
}
