
{% extends 'staff/base.html' %}
{% load static %}
{% block content %}



<div class="attendance-container">
{% if messages %}

    {% for message in messages %}

        <div class="success-message">

            {{ message }}

        </div>

    {% endfor %}

{% endif %}




    <!-- HEADING -->

    <div class="heading-section">
        <h1>Attendance</h1>

        <a class="staff-checkin-btn"  href="{% url 'staff_checkin' staff.id %}">Staff Check-In</a>

    </div>

<div id="attendance-dashboard" >

    <!-- TOP CARDS -->
    <div class="top-cards">

        <div class="card blue">
            <div class="card-content">
                <p>Total Working Days</p>
                <h2>{{ total_working_days }}</h2>
            </div>
        </div>

        <div class="card green">
            <div class="card-content">
                <p>Present Days</p>
                <h2>{{ present_days }}</h2>
            </div>
        </div>

        <div class="card red">
            <div class="card-content">
                <p>Absent Days</p>
                <h2>{{ absent_days }}</h2>
            </div>
        </div>

        <div class="card yellow">
            <div class="card-content">
                <p>Leave Days</p>
                <h2>{{ leave_days }}</h2>
            </div>
        </div>

        <div class="card orange">
            <div class="card-content">
                <p>Late Days</p>
                <h2>{{ late_days }}</h2>
            </div>
        </div>

    </div>

    <!-- TODAY ATTENDANCE -->
    <div class="today-attendance">

        <div class="today-top">
            <h2>Today's Attendance</h2>
            
            <span class="status-badge
            {% if today_status == 'Present' %} present-badge
            {% elif today_status == 'Absent' %} absent-badge
            {% elif today_status == 'Leave' %} leave-badge
            {% elif today_status == 'Late' %} late-badge
            {% endif %}">
                {{ today_status }}
            </span>

        </div>

        <div class="attendance-boxes">

            <div class="attendance-box">
                <p>Log In</p>
                <h3>{% if today_attendance %}
                {{ today_attendance.log_in|time:"h:i A" }}
            {% else %}
                --
            {% endif %}</h3>
            </div>

            <div class="attendance-box">
                <p>Log Out</p>
                <h3>{% if today_attendance %}
                {{ today_attendance.log_out|time:"h:i A" }}
            {% else %}
                --
            {% endif %}</h3>
            </div>

            <div class="attendance-box">
                <p>Working Hours</p>
                <h3> {% if today_attendance %}
                {{ today_attendance.total_hours }}
            {% else %}
                --
            {% endif %}</h3>
            </div>

        </div>

    </div>

    <!-- PERCENTAGE -->
    <div class="percentage-card">

        <div class="percentage-top">
            <h2>Attendance Percentage</h2>
            <span>{{ attendance_percentage }}%</span>
        </div>

        <div class="progress-bar">
            <div class="progress-fill"style="width:{{ attendance_percentage }}%;"></div>
        </div>

    </div>

    <!-- HISTORY -->
    <div class="history-section">

        <!-- FILTERS -->
        <div class="history-top">

            <form method="GET" id="attendance-filter-form">

                <div class="filters">

                    <!-- MONTH -->
                    <select name="month">
                        <option value="">Month</option>
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>

                    <!-- YEAR -->
                    <select name="year">
                        <option value="">Year</option>
                        <option value="2024">2024</option>
                        <option value="2025">2025</option>
                        <option value="2026">2026</option>
                    </select>

                    <!-- DATE -->
                    <input type="date" name="date">

                    <button type="submit" class="attendance-submit">
                        Filter
                    </button>

                </div>

            </form>

        </div>

        <h2>Attendance History</h2>
        <br/>

        <!-- TABLE -->
        <div class="table-wrapper">
        <table >

            <thead>
                <tr>
                    <th>Date</th>
                    <th>Log In</th>
                    <th>Log Out</th>
                    <th>Status</th>
                    <th>Hours</th>
                    
                </tr>
            </thead>

            <tbody>

                {% for attendance in attendance_data %}
                <tr>

                    <td>{{ attendance.date }}</td>

                    <td>
                        {% if attendance.log_in %}
                            {{ attendance.log_in|time:"h:i A" }}
                        {% else %}
                            --
                        {% endif %}
                    </td>

                    <td>
                        {% if attendance.log_out %}
                            {{ attendance.log_out|time:"h:i A" }}
                        {% else %}
                            --
                        {% endif %}
                    </td>

                    <td>
                        <span class="table-status
                        {% if attendance.status == 'Present' %} present
                        {% elif attendance.status == 'Absent' %} absent
                        {% elif attendance.status == 'Leave' %} leave
                        {% elif attendance.status == 'Late' %} late-badge
                        {% endif %}">
                            {{ attendance.status }}
                        </span>
                    </td>

                    <td>
                        {{ attendance.total_hours|default:"--" }}
                    </td>



                </tr>

                {% empty %}

                <tr>
                    <td colspan="5" style="text-align:center; color:red;">
                        No data found
                    </td>
                </tr>

                {% endfor %}

            </tbody>

        </table>

        </div>
    </div>
</div>
</div>

{% block extra_js %}
<script src="{% static 'js/staff_js/attendance.js' %}"></script>
{% endblock %}

{% endblock %}