{% extends 'leads/base.html' %}

{% block content %}

<section class="lead-details-page">

    

     <!-- DETAILS SECTION -->
     <section class="lead-details-section">

        <!-- Header -->
         <div class="details-header">

            <div class="lead-avatar">{{ lead.lead_name|slice:"1" }}</div>

            <div class="header-content">

                <h1 class="lead-title">{{ lead.lead_name }}</h1>
                <p class="lead-id">{{ lead.lead_id }}</p>

            </div>

         </div>

         <!-- BASIC INFO -->
          <div class="details-group">

            <h2 class="group-title">Contact Information</h2>
            <div class="details-row">

                <div class="details-items">
                    <label class="details-label">Phone Number</label>
                    <p class="details-value">{{ lead.phone_no }}</p>
                </div>
        
                <div class="details-items">
                    <label class="details-label">Email</label>
                    <p class="details-value">{{ lead.email }}</p>
                </div>

            </div>

          </div>

          <!-- COURSE INFO -->
           <div class="details-group">

            <h2 class="group-title">Enquiry Details</h2>
            <div class="details-row">

                <div class="details-items">
                    <label class="details-label">Course Interested</label>
                    <p class="details-value">{{ lead.course_interested }}</p>
                </div>

                <div class="details-items">
                    <label class="details-label">Lead Source</label>
                    <p class="details-value">{{ lead.lead_source }}</p>
                </div>

                <div class="details-items">
                    <label class="details-label">Enquiry Date</label>
                    <p class="details-value">{{ lead.enquiry_date }}</p>
                </div>

            </div>

           </div>

           <!-- STATUS INFO -->
            <div class="details-group">

            <h2 class="group-title">Follow-Up Status</h2>
            <div class="details-row">

                <div class="details-items">
                    <label class="details-label">Assigned To</label>
                    <p class="details-value">{{ lead.assigned_to }}</p>
                </div>

                <div class="details-items">
                    <label class="details-label">Next Follow-Up</label>
                    <p class="details-value">{{ lead.next_followup_date}}</p>
                </div>

                <div class="details-items">
                    <label class="details-label">Current Status</label>
                    <p class="details-value">{{ lead.initial_status }}</p>
                </div>

            </div>

           </div>

           <!-- NOTES -->
            {% if lead.initial_notes %}
            <div class="details-group">

                <h2 class="group-title">Initial Notes</h2>
                <div class="notes-box">
                    {{lead.initial_notes}}
                </div>

            </div>
            {% endif %}

            <!-- SYSTEM INFORMATION -->
            <div class="details-group">

            <h2 class="group-title">System Information</h2>
            <div class="details-row">

                <div class="details-items">
                    <label class="details-label">Created At</label>
                    <p class="details-value">{{ lead.created_at }}</p>
                </div>

                <div class="details-items">
                    <label class="details-label">Updated At</label>
                    <p class="details-value">{{ lead.updated_at}}</p>
                </div>

            </div>

           </div>

           <!-- ACTIONS -->
            <div class="details-actions">

                <a href="{% url 'lead_capture_list' %}" class="btn-back">Back to List</a>
                <a href="{% url 'lead_capture_update' lead.id %}" class="btn-back">Edit Lead</a>
                

            </div>
     </section>

</section>

{% endblock %}
