*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}


/* BODY */

body{
    background:white;
    padding:30px;
   
}



/* MAIN CONTAINER */

.attendance-container{
    width:100%;
}



/* HEADING */

.heading-section{
   margin-bottom:30px;
    background-color:rgb(4, 4, 109);
    padding:15px 20px;
    border-radius:10px;
    color:white;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.heading-section h1{
    font-size:30px;
    font-weight:bold;
}



/* TOP CARDS */

.top-cards{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    gap:20px;
}



/* CARD */

.card{
    background:#f6f6f6;
    border-radius:18px;
    padding:15px;
    transition:0.3s;
    position:relative;
    overflow:hidden;
    
}

.card:hover{
    transform:translateY(-5px);
}

/* BADGE */

.status-badge{
   
    padding:5px 10px;
    border-radius:20px;
    font-size:13px;
    font-weight:600;

}
/* PRESENT */

.present-badge{

   background:#e8f5e9;
    color:#2e7d32;


}



/* ABSENT */

.absent-badge{

   background:#ffebee;
    color:#c62828;

}



/* LEAVE */

.leave-badge{
  background: #fef9c3;
    color: #854d0e;
    

}



/* LATE */

.late-badge{

     background:#fff3e0;
    color:#f77206;

}
/* CARD COLORS */

.blue{
    border-left:3px solid #2563eb;
}

.green{
    border-left:3px solid #22c55e;
}

.red{
    border-left:3px solid #ef4444;
}

.yellow{
    border-left:3px solid #facc15;
}
.orange{
     border-left:3px solid #ef8411;
}


/* CARD CONTENT */

.card-content p{
    color:#18191a;
    font-size:15px;
    margin-bottom:15px;
}

.card-content h2{
    font-size:20px;
}



/* TODAY ATTENDANCE */

.today-attendance{
    margin-top:40px;
    background:#f6f6f6;
    color:rgb(2, 2, 162);
    padding:15px;
    border-radius:20px;
}



/* TOP */

.today-top{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:30px;
}

.today-top h2{
    font-size:20px;
}







/* ATTENDANCE BOXES */

.attendance-boxes{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
}



/* BOX */

.attendance-box{
    background:#ededf4;
    padding:15px;
    border-radius:15px;
}

.attendance-box p{
    color:#313134;
    margin-bottom:10px;
    font-size:15px;
}

.attendance-box h3{
    font-size:15px;
}


/* PERCENTAGE */

.percentage-card{
    margin-top:40px;
    background:#f6f6f6;
    padding:20px;
    border-radius:20px;
}



/* TOP */

.percentage-top{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
}

.percentage-top h2{
    font-size:20px;
    color:rgb(4, 4, 164);
}

.percentage-top span{
    font-size:22px;
    font-weight:bold;
}



/* PROGRESS BAR */

.progress-bar{
    width:100%;
    height:12px;
    background:#ffffff;
    border-radius:30px;
    overflow:hidden;
}



/* FILL */

.progress-fill{
    height:100%;
    background:linear-gradient(to right,#063089,#facc15);
    border-radius:30px;
}



/* HISTORY SECTION */

.history-section{
    margin-top:40px;
    background:#f6f6f6;
    padding:15px;
    border-radius:20px;
    color:rgb(32, 4, 159);
}



/* TOP */

.history-top{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:30px;
    
}



/* FILTERS */

.filters{
    display:flex;
    gap:15px;
}



/* SELECT */

.filters select,
.filters input{
    background:#f6f6f8;
    border:1px solid #c7c7c7;
    color:rgb(43, 41, 41);
    padding:8px 10px;
    border-radius:10px;
    font-size:12px;
}
.attendance-submit{
    background:#050580;
    color:white;
    border:none;
    padding:8px 10px;
    border-radius:10px;
    font-size:12px;
    cursor:pointer;
}
.attendance-submit:hover{
    background-color: rgb(210, 191, 13);
}

/* TABLE WRAPPER*/
.history-section table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

/* HEADER */
.history-section thead {
    background: linear-gradient(135deg, #050580, #1e3a8a);
    color: #fff;
}

.history-section th {
    padding: 12px;
    text-align: left;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
   
}

/* ROWS */
.history-section td {
    padding: 14px;
    font-size: 14px;
    color: #333;
    border-bottom: 1px solid #eee;
}

/* HOVER EFFECT */
.history-section tbody tr {
    transition: 0.3s;
}

.history-section tbody tr:hover {
    background: #f3f6ff;
    transform: scale(1.01);
}

/* STATUS BADGES IMPROVED */
.table-status {
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
}
.attendace-table{
    width:100%;
    border-collapse:separate;
    border-spacing:0;
}
/* PRESENT */
.present {
    background: #dcfce7;
    color: #166534;
}

/* ABSENT */
.absent {
    background: #fee2e2;
    color: #991b1b;
}

/* LEAVE */
.leave {
    background: #fef9c3;
    color: #854d0e;
}

/* LATE */
.late-badge {
    background: #ffedd5;
    color: #c2410c;
}

.table-wrapper{
   max-height:500px;   
    overflow-y:auto;
   
    border-radius:10px;
    
}

.table-wrapper thead th{
    position:sticky;
    top:0;
    z-index:999;
    background:#050580;
    color:white;
}
/* RESPONSIVE TABLE */
@media (max-width: 768px) {
   

    .filters select,
    .filters input,
    .attendance-submit{
        width:100%;
    }
     .card-content h2{
        font-size:18px;
    }

    .card-content p{
        font-size:14px;
    }

    .heading-section h1{
        font-size:22px;
    }
    .history-section {
        overflow-x: auto;
    }

    .history-section table {
        min-width: 600px;
    }
}


/* RESPONSIVE */

@media(max-width:1100px){

    .top-cards{
        grid-template-columns:repeat(2,1fr);
    }

    .attendance-boxes{
        grid-template-columns:1fr;
    }

}


@media(max-width:768px){

    .top-cards{
        grid-template-columns:1fr;
    }

    .history-top{
        flex-direction:column;
        align-items:flex-start;
        gap:20px;
    }

    .filters{
        width:100%;
        flex-direction:column;
    }

    .button-section{
        flex-direction:column;
    }
    
   
      .heading-section{
        flex-direction:column;
        gap:15px;
        text-align:center;
    }

    .staff-checkin-btn{
        width:100%;
        text-align:center;
    }

}


.success-message{

    background:#d4edda;

    color:#155724;

    padding:15px;

    border-radius:10px;

    margin-bottom:20px;

    font-weight:600;

    border:1px solid #c3e6cb;
}

.staff-checkin-btn{
text-decoration:none;
    background:#16a34a;
    color:white;
    padding:12px 20px;
    border-radius:10px;
    font-size:15px;
    font-weight:600;
    display:inline-block;
    transition:0.3s ease;
    box-shadow:0 4px 10px rgba(22,163,74,0.2);
    
}

.staff-checkin-btn:hover{
    background:#15803d;
    transform:translateY(-2px);
}