*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f5f7fa;
    padding:10px;
    color:#222;
    overflow-x: hidden;
}

a{
    text-decoration:none;
}

:root{
    --primary:#262170;
    --secondary:#FEF200;
    --white:#ffffff;
    --light:#f5f7fb;
    --text:#1f2937;
    --muted:#6b7280;
    --border:#e5e7eb;
    --shadow:0 10px 24px rgba(0,0,0,0.08);
}



/* ===== HEADER ===== */

.over-top-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
    background: linear-gradient(135deg, #262170, #1d1959);
    color:var(--white);
    box-shadow: var(--shadow);
    margin-bottom:10px;
    padding:24px;
    border-radius:16px;
    border-radius:0 0 18px 18px;
}

.over-top-header h1{
    font-size:26px;
    font-weight:800;
}

.over-top-header p{
    font-size:13px;
    opacity:0.9;
    margin-top:4px;
    color: var(--secondary);
}

.over-header-buttons{
    display:flex;
    gap:10px;
}

.over-export-btn{
    padding:10px 18px;
    border-radius:10px;
    text-decoration:none;
    font-weight:bold;
    font-size:14px;
    border:none;
    cursor:pointer;
    background: var(--secondary);
    color: var(--text);
}

.over-back-btn{
    padding:10px 18px;
    border-radius:10px;
    text-decoration:none;
    font-weight:bold;
    font-size:14px;
    border:none;
    cursor:pointer;
    background: var(--secondary);
    color: var(--text);
}

/*====== MAIN NAV =======*/
.main-nav{
    background:linear-gradient(135deg,#262170,#1b174f);
    height:70px;
    box-shadow:var(--shadow);
    top:0;
    z-index:999;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 10px;
}
/* ===== NAVBAR ===== */
.nav-tabs{
    display: flex;
    align-items: center;
}

.nav-toggle{
    display:none;
    background:var(--primary);
    color:var(--white);
    border:none;
    padding:14px 18px;
    font-size:22px;
    cursor:pointer;
    width:100%;
    text-align:left;
}

.nav-tabs{
    display:flex;
    align-items:center;
    padding:15px 25px;
    gap:15px;
    background:var(--primary);
    border-radius:0 0 18px 18px;
}

.nav-tab-link{
    font-weight:600;
    color:var(--white);
    padding:10px 16px;
    border-radius:14px;
    transition:.3s;
}

.nav-tab-link:hover{
    background:rgba(255,255,255,0.08);
}

.active-nav-tab:hover{
    background:var(--white);
    color:var(--text);
    backdrop-filter:blur(6px);
}

.active-nav-tab{
    background:var(--secondary);
    color:var(--primary);
    border-bottom:none;
}
.nav-toggle{
    display:none;
    background:var(--primary);
    color:var(--white);
    border:none;
    padding:16px 20px;
    font-size:22px;
    cursor:pointer;
    width:100%;
    text-align:left;
}

.over-edit-btn{
    margin-left: auto;
    padding: 10px 16px;
    background-color: var(--secondary);
    color: #262170;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
    min-height:42px;
}

.nav-header-right{
    margin-left: auto;
}

/* ===== PROFILE  ===== */

.over-profile-card{
    background: #ffffff;
    padding: 20px 20px 20px 40px;
    border-radius: 16px;
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr;
    gap: 22px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    margin-bottom: 20px;
    transition: 0.3s ease;
    border: 1px solid var(--secondary);
}


/* Image */
.over-profile-image{
    position: relative;
    width:120px;
    margin:auto auto auto 40px;
}

.over-profile-image img{
    width:130px;
    height:130px;
    border-radius:50%;
    object-fit:cover;
    border:1px solid #fff;
    box-shadow:0 6px 18px rgba(0,0,0,0.12);
    transition:0.3s ease;
    display:block;
    margin:0 auto;

}

.over-profile-image img:hover{
    transform: scale(1.05);
}

/* ===== STATUS DOT ===== */
.over-online,
.over-offline{
    width:18px;
    height:18px;
    border-radius:50%;
    position:absolute;
    border:2px solid #fff;
    box-shadow:0 3px 10px rgba(0,0,0,0.2);
    top:5px;
    right:5px;
}

.over-online{
    background:#22c55e;
}

.over-offline{
    background:#ef4444;
}

/* Name*/
.over-name{
    font-size:28px;
    font-weight:700;
    color:#111827;
    margin-bottom:15px;
    letter-spacing:0.9px;
    margin-left: 50px;
    margin-top: 5px;
}

/* Badge*/
.over-badges{
    display:flex;
    gap:10px;
    margin-bottom:10px;
    flex-wrap:wrap;
    justify-content:flex-start;
    align-items:center;
    margin-left: 50px;
}

.over-badge{
    padding:8px 20px;
    border-radius:20px;
    font-size:12px;
    font-weight:600;
    letter-spacing:0.3px;
    white-space:nowrap;

}

.over-badge-blue{
    background:#dbeafe;
    color:#2563eb;
}

/* Badge color */
.status-active{
    background:#31ff7d;
    color: #11843b;
}

.status-inactive{
    background:#9ea5b3ac;
    color: #000000;
}

.status-on_leave{
    background:#fab915;
    color:#5b4610;
}

.status-terminated{
    background:#ff2807;
    color: rgb(19, 14, 14);
}

/* Info */
.over-info p{
    margin-bottom:6px;
    font-size:14px;
    color:#374151;
    line-height:1.5;
    margin-top: 10px;
}

.over-info p strong{
    color:#111827;
}

.over-info2 p{
    margin-bottom:6px;
    margin-left: -80px;
    margin-top: 10px;
    font-size:14px;
    color:#374151;
    line-height:1.5;
}

.over-info2 p strong{
    color:#111827;
}
/* ===== KPI CARDS ===== */

.over-cards{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(160px, 1fr));
    gap:15px;
    margin-bottom:20px;
}

.over-card{
    background:#fff;
    padding:15px;
    border-radius:12px;
    box-shadow:0 3px 8px rgba(0,0,0,0.06);
    text-align:center;
    border-top: 5px solid var(--secondary);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    will-change: transform;
}

.over-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.12);
}

.over-card h3{
    font-size:14px;
    margin:10px 0;
    color:#6b7280;
}

.over-card h2{
    font-size:22px;
}

.over-card-icon{
    width:40px;
    height:40px;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:0 auto;
    color:#fff;
}

.blue{background:#3b82f6;}
.green{background:#22c55e;}
.orange{background:#f59e0b;}
.purple{background:#a855f7;}
.cyan{background:#06b6d4;}
.red{background:#ef4444;}

/* ===== CHART ===== */

.over-main-grid{
    display:grid;
    grid-template-columns:2fr 1fr;
    gap:20px;
    margin-bottom:20px;
}

.over-chart{
    background:#fff;
    padding:20px;
    border-radius:12px;
    box-shadow:0 3px 8px rgba(0,0,0,0.06);
}

.over-chart-title{
    font-size:18px;
    color: var(--primary);
    margin-bottom: -130px;
}

.over-chart-area svg{
    width:100%;
    height:500px;
}

.over-left-line{
    stroke:#d1d5db;
    stroke-width:2;
}

.over-performance-blueline{
    fill: none;
    stroke:#2563eb;
    stroke-width:2;
}

.over-performance-greenline{
    fill: none;
    stroke:#22c55e;
    stroke-width:2;
}

.over-grid-line{
    stroke:#d1d5db;
    stroke-width:1;
}

.over-chart-text{
    fill:#666;
    font-size:14px;
}

.over-week-text{
    fill:#923636;
    font-size:14px;
    font-weight:600;
}

.over-chart-para{
    display: flex;
    justify-content: space-around;
    margin-top: -40px;
}

.over-chart-para1{
    font-weight: 500;
}
.over-chart-para1 i{
    color: #2563eb;
    
}

.over-chart-para2{
    font-weight: 500;
}
.over-chart-para2 i{
    color: #22c55e;
}

.over-chart-para1 span,.over-chart-para2 span{
    font-size:15px;
    color: var(--text);
    font-weight: 600;
}


.over-target-section{
    padding-top: 40px;
}

.over-target-flex{
    display:flex;
    justify-content:space-between;
    padding-top:10px;
    padding-bottom: 20px;
    
}

.over-progress{
    width:100%;
    height:10px;
    background:#e5e7eb;
    border-radius:10px;
}

.over-progress-bar{
    height:100%;
    background:#2563eb;
    border-radius:10px;
}

/* ===== ATTENDANCE ===== */

.over-box-attendance {
    background: #ffffff;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}


.over-box-attendance-title {
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
    color: var(--primary);
}

.status-badge-over {
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}

.present-badge-over {
    background: #28a745;
    border: 1px solid var(--secondary);
}

.absent-badge-over{
    background:#ef4444;
    color:#fff;
}

.leave-badge-over{
    background:#f59e0b;
    color:#fff;
}

.late-badge-over{
    background:#8b5cf6;
    color:#fff;
}


.over-attendance-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.over-attendance-item {
    background: #f9f9f9;
    padding: 60px 50px;
    border-radius: 20px;
    text-align: center;
    transition: 0.3s ease;
    border: 1px solid #eee;
   
}

.over-attendance-item2{
    background: #f9f9f9;
    padding: 60px 50px;
    font-size: larger;
    width: 100%   ;
    border-radius: 20px;
    text-align: center;
    transition: 0.3s ease;
    border: 1px solid #eee;
    margin-top: 10px;
}

.over-attendance-item2 p{
    padding-bottom: 8px;
}

.over-attendance-item:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.08);
    border: 1px solid var(--secondary);
}

.over-attendance-item p {
    margin: 0;
    font-size: 20px;
    color: #777;
    padding: 5px;
}

.over-attendance-item h3 {
    margin-top: 8px;
    font-size: 25px;
    color: #222;
}


.over-no-attendance {
    text-align: center;
    color: #ef0b0b;
    font-size: 14px;
    padding: 20px;
}


/* ===== RECENT LEADS ===== */

.over-box-recent{
    background:#fff;
    padding:20px;
    border-radius:12px;
    overflow-x:auto;
    box-shadow:0 3px 8px rgba(0,0,0,0.06);
    margin-bottom: 10px;
}

.over-box-recent h2{
    color: var(--primary);
}

.over-box-recent table{
    width:100%;
    min-width:500px;
    margin-top: 10px;
    border-collapse:collapse;
}

.over-box-recent th{
    padding:8px;
    text-align:left;
    border-bottom:1px solid #e5e7eb;
    background-color: rgb(244, 244, 242);
}

.over-box-recent td{
    padding:8px;
    text-align:left;
    border-bottom:1px solid #e5e7eb;
    background-color: rgb(252, 252, 252);
   
}
.over-recent-no{
    text-align: center !important;
    color: red;
}

/* Meeting & Class Schedule */

.over-box-trainers{
    background:#fff;
    padding:20px;
    border-radius:12px;
    overflow-x:auto;
    box-shadow:0 3px 8px rgba(0,0,0,0.06);
    margin-bottom: 10px;
}

.over-box-trainers h2{
    color: var(--primary);
    font-size: 20px;
}

.over-box-trainers table{
    width:100%;
    min-width:500px;
    margin-top: 10px;
    border-collapse:collapse;
}

.over-box-trainers th{
    padding:8px;
    text-align:left;
    border-bottom:1px solid #e5e7eb;
    background-color: rgb(244, 244, 242);
}

.over-box-trainers td{
    padding:8px;
    text-align:left;
    border-bottom:1px solid #e5e7eb;
    background-color: rgb(252, 252, 252);
   
}

.upcoming{
    color:#ff9800;
    font-weight:bold;
}

.completed{
    color:#4caf50;
    font-weight:bold;
}

.over-trainers-no{
    text-align: center !important;
    color: red;
}



/* ====== RESPONSIVE ====== */

/* Tablet */
@media (max-width: 1200px){

    .over-cards{
        grid-template-columns:repeat(3,1fr);
    }

    .over-chart-title-this{
        padding-left: 0;   
    }
}

/* Small Tablet */
@media (max-width: 900px){

    .over-main-grid{
        grid-template-columns:1fr;
    }

    .over-profile-card{
        grid-template-columns:1fr;
        text-align:center;
    }

    .over-chart-sub{
        flex-direction:column;
        gap:10px;
    }

    .over-chart-title-this{
        padding-left:0;
    }

    .over-profile-image{
    display:flex;
    justify-content:center;
    text-align:center;
    }

    .over-profile-image img{
        margin:0 auto;
        display:block;
    }

    .over-badges{
    justify-content:center;
    }
}

/* Mobile */
@media (max-width: 768px){

    body{
        padding:10px;
    }

    .nav-toggle{
        display:block;
    }

    .nav-tabs{
        display:none;
        flex-direction:column;
        width:100%;
        padding:10px;
        gap:10px;
    }

    .nav-tabs.show{
        display:flex;
    }

    .nav-tab-link{
        width:100%;
    }

    .over-cards{
        grid-template-columns:repeat(2,1fr);
    }

    .over-top-header{
        flex-direction:column;
        align-items:flex-start;
        gap:10px;
    }

    .over-header-buttons{
        width:100%;
        justify-content:flex-start;
        flex-wrap:wrap;
    }

    .over-profile-card{
        text-align:center;
    }

    .over-attendance-grid{
        grid-template-columns:1fr;
    }

    .over-attendance-item{
    padding:25px;
    }

    .nav-header-right{
        width:100%;
        margin-left:0;
    }

    .over-edit-btn{
        width:100%;
        display:block;
        text-align:center;
        margin-top:10px;
    }

    .over-badges{
        justify-content:center;
    }
    
    .over-chart-area svg{
    height:300px;
    }
}

/* Small Mobile */
@media (max-width: 480px){

    .over-cards{
        grid-template-columns:1fr;
    }

    .over-top-header h1{
        font-size:22px;
    }

    .over-profile-image img{
        width:100px;
        height:100px;
    }

    .over-online,
    .over-offline{
        top:0px;
        left:50%;
    }

    table{
        display:block;
        overflow-x:auto;
        white-space:nowrap;
    }
}